body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.word {
  margin-top: 40px;
  font-size: 38px;
} 

.answerContainer {
  text-align: center;  
  margin-top: 40px;
  // width: 80%;
  .answerOptions {
    margin: auto;
    width: 80%;
    
    .answerOption {
      position: relative;
      margin: 10px;
      background: #f7f7f7;
      padding: 20px;
      border-radius: 20px;
      text-align: start;     
      
      .radioButton {
        cursor: pointer;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }
      
      .radioCustomLabel {
        margin-left: 8px;        
        font-size: 18px;
        line-height: 34px;
      }
    }
  }
  
}

.resultSummary {
  background: yellow; 
  padding: 16px;
}

.resultRows{
  text-align: left;
  margin: 40px;
  
  .resultRow {
    margin: 10px;
    
    .word{
      font-size: 22px;
      margin-bottom: 10px;
    }
    .meaning{
      // margin-left: 10px;
    }
    .userResult{
      margin-top: 10px;
    }
  }
}

.quizProgress {
  height: 40px;
  margin-top: 20px;
  .inner {
    height: inherit;
    background: rgb(85, 253, 113);
    margin: 4px 20px;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
